# Configuration for a Red Hat Enterprise Linux org/activation key.
#
# This is required for building RHEL images.
#[rhel]
#activation_key = '<key>'
#organization_id = <id>


# Configuration for caches.
#
# These are highly-recommended. Defaults below should work for the provided
# docker-compose.yaml file.
#[pypi-cache]
#url = http://host.docker.internal:49950/index/

#[squid-cache]
#url = http://host.docker.internal:43128
